body {
    background-color: gray;
}

header {
    height: 120px;
    color: black;
    font-size: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions_area {
    margin: 0 40px;
    background-color: white;
    border: 10px solid #000;
    border-radius: 10px;
    font-size: 30px;
}
section {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}