body {
    background-color: violet;
}

.questions_area {
    height: 94vh;
    margin: 0 40px;
    background-color: white;
    border: 5px solid #000;
    border-radius: 10px;
}

.questions {
    display: flex;
    justify-content: space-around;
}

section {
    margin: 5px;
    width: 500px;
    height: 60vh;
    font-size: 25px;
    border-radius: 10px;
    background-color: violet;
}

section p {
    margin: 20px 10px;
}

#scoreAnswers {
    font-size: 25px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.finish {
    display: flex;
    justify-content: space-between;
    margin: -25px 5px;
}

a {
    text-decoration: none;
    color: black;
    background-color: violet;
    border-radius: 10px;
    font-family: fantasy;
    font-size: 30px;
    padding: 15px;
}

button {
    text-decoration: none;
    color: black;
    background-color: #31b333;
    border-radius: 10px;
    font-family: fantasy;
    font-size: 30px;
    padding: 15px;
    cursor: pointer;  
}

a:hover {
    background-color: violet;
    opacity: 0.5;
}

button:hover{
    background-color: #139115; 
}